html {
    overflow-x: hidden;
}

button:focus,
button:focus-visible {
    outline: none;
    box-shadow: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.panel {
    display: flex;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 120px;
    z-index: 9998;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    direction: rtl;
}

.logo {
    background-image: url("Images/logo-barber.png");
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    left: 88vw;
    top: 1vh;
    width: 20vw;
    height: 15vh;
    cursor: pointer;
}

.gallery {
    background-color: black;
    border: none;
    color: white;
    position: relative;
    left: 3vw;
    margin-right: 5vw;
    width: 5vw;
    cursor: pointer;
}

.gallery:hover {
    color: lightgray;
}

.contact {
    background-color: black;
    border: none;
    color: white;
    position: relative;
    left: 25vw;
    margin-right: 5vw;
    width: 10vw;
    cursor: pointer;
    white-space: nowrap;
}

.contact:hover {
    color: lightgray;
}

.products {
    background-color: black;
    border: none;
    color: white;
    position: relative;
    white-space: nowrap;
    left: 45vw;
    margin-right: 2vw;
    width: 10vw;
    cursor: pointer;
}

.products:hover {
    color: lightgray;
}

.instagram {
    background-color: black;
    border: none;
    background-image: url("Images/instagramLogo.png");
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    top: 3.5vh;
    left: 8vw;
    width: 6.5vw;
    height: 5vw;
    cursor: pointer;
}

.instagram:hover {
    width: 7vw;
    border-color: white;
}

.whatsapp {
    background-color: black;
    border: none;
    background-image: url("Images/whatsapp-logo.png");
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    top: 3.5vh;
    left: 2.5vw;
    width: 6vw;
    height: 4.6vw;
    cursor: pointer;
}

.whatsapp:hover {
    width: 6.5vw;
    height: 4.75vw;
    border-color: white;
}

.gallery-dropdown {
    position: relative;
    display: inline-block;
}

.gallery-dropdown-menu {
    position: absolute;
    background-color: black;
    top: 8vh;
    min-width: 8vw;
    z-index: 9999;
    border: 0.3vw solid #ddd;
    border-radius: 0.5vw;
    text-align: center;
    padding: 0.8vw;
    box-shadow: 0.2vw 0.8vw rgba(0, 0, 0, 0.15);
}

.gallery-dropdown-menu button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 1vh;
    width: 100%;
    cursor: pointer;
}

.gallery-dropdown-menu button:hover {
    color: lightgray;
    cursor: pointer;
}

.products-list {
    background-color: #eff0f5;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: flex-start;
    padding: 12vh 3vw 3vw;
}

/*//////////////////////////////////////*/

.fourScreen {
    background-color: #1e1f22;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    color: white;
    padding: 0 10vw;
    box-sizing: border-box;
    margin: 2vh 1vw;
}

.logo-1 {
    background-image: url("Images/logo-barber.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vw;
    min-width: 100px;
    min-height: 100px;
}

.text-container {
    text-align: center;
    flex: 1;
    direction: rtl;
}

#text-1,
#text-2 {
    font-size: 1.2vw;
    color: #cdc4c4;
    margin: 0.5vw 0;
}

.logoim {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10vw;
}

#instagram-2 {
    background-image: url("Images/instagramLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 8vw;
    height: 5vw;
    cursor: pointer;
}

#whatsapp-2 {
    background-image: url("Images/whatsapp-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 6vw;
    height: 5vw;
    cursor: pointer;
}

.map-container {
    margin-right: 5vw;
}

.map-container iframe {
    width: 20vw;
    height: 30vh;
    border: 0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*לסמארטפונים*/
@media (max-width: 768px) {

    .panel {
        width: 100%;
        height: 12%;
        background-color: black;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo {
        display: none;
    }

    .gallery {
        border: none;
        position: fixed;
        width: 1%;
        left: 95%;
        top: 3.6vh;
    }

    .gallery-dropdown-menu {
        position: absolute;
        background-color: black;
        top: 2vh;
        min-width: 8vw;
        z-index: 9999;
        border: 0.3vw solid #ddd;
        border-radius: 0.5vw;
        text-align: center;
        left: 78vw;
        padding: 0.8vw;
        box-shadow: 0.2vw 0.8vw rgba(0, 0, 0, 0.15);
    }

    .contact {
        border: none;
        position: fixed;
        width: 20%;
        left: 60%;
    }

    .products {
        border: none;
        position: fixed;
        white-space: nowrap;
        width: 5%;
        left: 50%;
    }

    h2 {
        font: bold 14px Arial;
    }

    .instagram {
        width: 16vw;
        height: 5vh;
        top: 3vh;
        left: 12vw;
        position: absolute;
    }

    .whatsapp {
        width: 11vw;
        height: 5vh;
        top: 3vh;
        left: 1vw;
        position: absolute;
    }

    .instagram:hover {
        width: 16vw;
        height: 5vh;
    }

    .whatsapp:hover {
        width: 11vw;
        height: 5vh;
    }

    /*///////////////////////////////////////////////////////////*/
    .fourScreen {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 4vh 5vw;
        text-align: center;
    }

    .logo-1 {
        width: 40vw;
        height: 40vw;
        margin: 0 auto;
    }

    .text-container {
        margin-top: 1vh;
    }

    #text-1, #text-2 {
        font-size: 4vw;
        margin: 1vh 0;
        justify-content: center;
        text-align: center;
    }

    .logoim {
        flex-direction: row;
        justify-content: center;
        gap: 1vw;
        margin-left: 5vw;
    }

    #instagram-2 {
        width: 20vw;
        height: 15vw;
    }

    #whatsapp-2 {
        width: 15vw;
        height: 15vw;
    }

    .map-container {
        display: block;
        width: 100%;
        margin-top: 3vh;
        margin-left: 5vw;
    }

    .map-container iframe {
        width: 90%;
        height: 25vh;
        margin: 0 auto;
        display: block;
        border: none;
    }

}
