html {
    overflow-x: hidden;
}

.panel {
    display: flex; /* ← חשוב */
    position: fixed;
    background-color: black;
    width: 100%;
    height: 120px;
    z-index: 9998;
    flex-direction: row;
    align-items: center; /* ליישור אנכי */
    justify-content: space-between; /* ← אופציונלי, לתיאום מרחקים */
    padding: 0 2vw; /* ← אופציונלי, רווח מהקצוות */
    direction: rtl;

}

.logo {
    background-image: url("Images/logo-barber.png");
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    left: 88vw;
    top: 1vh;
    width: 20vw; /* במקום 130px */
    height: 15vh;
    cursor: pointer;

}

.gallery {
    background-color: black;
    border: none;
    color: white;
    position: relative;
    left: 3vw; /* היה 550px */
    margin-right: 5vw;
    width: 5vw; /* היה 50px */
    /*height: 0vh;*/
    cursor: pointer;

}

.gallery:hover {
    color: lightgray;
}


.contact {
    background-color: black;
    border: none;
    color: white;
    position: relative;
    left: 25vw; /* היה 250px */
    /*margin-top: 4vh;*/
    margin-right: 5vw;
    width: 10vw; /* היה 100px */
    /*height: 5vh;*/
    cursor: pointer;
    white-space: nowrap;


}

.contact:hover {
    color: lightgray;
}

.products {
    background-color: black;
    border: none;
    color: white;
    position: relative;
    white-space: nowrap;
    left: 45vw; /* היה 125px */
    margin-right: 2vw;
    width: 10vw; /* היה 150px */
    cursor: pointer;
}

.products:hover {
    color: lightgray;
}

.instagram {
    background-color: black;
    border: none;
    background-image: url("Images/instagramLogo.png");
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    top: 3.5vh; /* היה 30px */
    left: 8vw; /* היה 110px */
    width: 6.5vw; /* היה 75px */
    height: 5vw;
    cursor: pointer;

}

.instagram:hover {
    width: 7vw;
    border-color: white;
}

.whatsapp {
    background-color: black;
    border: none;
    background-image: url("Images/whatsapp-logo.png");
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    top: 3.5vh;
    left: 2.5vw; /* היה 50px */
    width: 6vw; /* היה 55px */
    height: 4.6vw;
    cursor: pointer;
}

.whatsapp:hover {
    width: 6.5vw;
    height: 4.75vw;
    border-color: white;
}


.gallery-dropdown {
    position: relative;
    display: inline-block;
}

.gallery-dropdown-menu {
    position: absolute;
    background-color: black;
    top: 8vh; /* היה 80px */
    min-width: 8vw; /* היה 120px */
    z-index: 9999;
    border: 0.3vw solid #ddd;
    border-radius: 0.5vw;
    text-align: center;
    left: 0vw; /* היה 505px */
    padding: 0.8vw;
    box-shadow: 0px 0.2vw 0.8vw rgba(0, 0, 0, 0.15);
}

.gallery-dropdown-menu button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 1vh;
    width: 100%;
    cursor: pointer;
}

.gallery-dropdown-menu button:hover {
    color: lightgray; /* רק הטקסט יתחלף */
    cursor: pointer; /* משדר שהחלק הזה ניתן ללחיצה */
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.bg1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.big-logo {
    position: absolute;
    top: 25vh; /* קצת מרווח מהחלק העליון */
    left: 50%;
    transform: translateX(-50%);
    background-image: url("Images/logo-barber.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 65vw;
    height: 35vh;
}

#firstButton {
    position: absolute;
    bottom: 15vh; /* מרווח מהחלק התחתון */
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    height: 12vh;
    background-color: black;
    color: white;
    padding: 2vh 2vw;
    border: 0.2vw solid rgba(255, 255, 255, 0.87);
    border-radius: 0.5vw;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    opacity: 0.75;
    white-space: nowrap;

}

#firstButton:hover {
    opacity: 1;
    color: #f5c542;
    background-color: rgba(9, 5, 5, 0.9);
    border-color: #f5c542;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.secondScreen {
    margin-top: 1vh;
    background-color: #4a4a4a;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 85vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: right;
}

.secondScreen h1 {
    width: 80vw;
    text-align: center;
    margin-right: 10vw;
    margin-top: 4vh;
    font-size: 2.5vw;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.reuven-grid {
    display: flex;
    justify-content: center;
    gap: 4vw;
    flex-wrap: wrap;
    text-align: center;
    margin-top: -4vh;
}

.reuven-pair {
    width: 22vw; /* מספיק צר כדי ש-3 ייכנסו בשורה */
    color: #f1c573;
    font-size: 1.2vw;
    margin: 2vh 1vw;
}

.reuven-pair p {
    margin-bottom: 1vh;
    min-height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.reuven-img {
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: center;
    border-radius: 1vw;
    opacity: 0;
    transform: translateY(50px);
    transition: all 2s ease-out;
}

.reuven-img.animate {
    opacity: 1;
    transform: translateY(0);
}

/* רקע לתמונות */
.img-1 {
    background-image: url("Images/reuven-active-1.jpeg");
}

.img-2 {
    background-image: url("Images/reuven-active-2.jpeg");
}

.img-3 {
    background-image: url("Images/reuven-active-3.jpeg");
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.menScreen {
    margin-top: 1px;
    background-color: #1e1f22;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: right;
}

#men-gallery-text {
    margin-top: 10px;
}


.menScreen p {
    color: #f5c542;
    font-size: 18px;
    margin-top: -15px;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.womenScreen {
    margin-top: 1px;
    background-color: #4a4a4a;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: right;
}

#women-gallery-text {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.womenScreen p {
    color: #f1c573;
    font-size: 18px;
    margin-top: -15px;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.fourScreen {
    background-color: #1e1f22;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    color: white;
    padding: 0 10vw;
    box-sizing: border-box;
}

.logo-1 {
    background-image: url("Images/logo-barber.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vw;
    min-width: 100px;
    min-height: 100px;
}

.text-container {
    text-align: center;
    flex: 1;
    direction: rtl;
}

#text-1,
#text-2 {
    font-size: 1.2vw;
    color: #cdc4c4;
    margin: 0.5vw 0;
}

.logoim {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*gap: 0.5vh;*/
    margin-right: 10vw;
}

#instagram-2 {
    background-image: url("Images/instagramLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 8vw;
    height: 5vw;
    cursor: pointer;
}

#whatsapp-2 {
    background-image: url("Images/whatsapp-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 6vw;
    height: 5vw;
    cursor: pointer;
}

.map-container {
    margin-right: 5vw;
}

.map-container iframe {
    width: 20vw;
    height: 30vh;
    border: 0;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* למכשירי סמארטפון */
@media (max-width: 768px) {

    * {
        box-sizing: border-box;
    }

    body {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }


    .panel {
        width: 100%;
        height: 12%;
        background-color: black;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center; /* ליישור אנכי */
    }

    .logo {
        display: none;
    }

    .gallery {
        border: none;
        position: fixed; /* או absolute אם זה בתוך קונטיינר */
        width: 1%;
        left: 90vw;
        top: 3.6vh;
    }

    .gallery-dropdown-menu {
        position: absolute;
        background-color: black;
        top: 3.5vh; /* היה 80px */
        min-width: 5vw; /* היה 120px */
        z-index: 9999;
        border: 0.3vw solid #ddd;
        border-radius: 0.5vw;
        text-align: center;
        /*left: 75vw; !* היה 505px *!*/
        left: 73vw;
        padding: 0.8vw;
        box-shadow: 0px 0.2vw 0.8vw rgba(0, 0, 0, 0.15);
    }

    .contact {
        display: none;
        /*top: 3.6vh; !* הוסף שורה זו *!*/
        /*border: none;*/
        /*position: fixed; !* או absolute אם זה בתוך קונטיינר *!*/
        /*width: 20%;*/
        /*left: 60%;*/
    }

    .products {
        top: 3.6vh; /* הוסף שורה זו */
        border: none;
        position: fixed;
        white-space: nowrap;
        width: 5%;
        /*height: 5%;*/
        left: 65vw;
    }

    h2 {
        font: bold 14px Arial;
    }

    .instagram {
        width: 16vw; /* 5% מרוחב המסך */
        height: 5vh; /* 5% מגובה המסך */
        top: 3vh;
        left: 12vw;
        position: absolute;
    }

    .whatsapp {
        width: 11vw;
        height: 5vh;
        top: 3vh;
        left: 1vw;
        position: absolute;
    }

    .instagram:hover {
        width: 16vw; /* 5% מרוחב המסך */
        height: 5vh;
    }

    .whatsapp:hover {
        width: 11vw;
        height: 5vh;
    }

    .bg1 {
        position: relative;
        width: 100%;
        height: 90vh;
        overflow: hidden;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .video-bg {
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }

    .big-logo {
        width: 60vw;
        height: 20vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 5vh;
    }

    #firstButton {
        position: absolute;
        bottom: 25vh;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.85;
        width: 50vw;
        height: 11vh;
        background-color: black;
        color: white;
        padding: 2vh 2vw;
        border: 1px solid rgba(255, 255, 255, 0.87);
        border-radius: 2vw;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #firstButton h1 {
        font: bold 30px Arial;
        white-space: nowrap;
    }


    /*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .secondScreen {
        width: 100vw;
        height: auto; /* גובה משתנה לפי התוכן */
        padding: 3vh 3vw;
    }

    .secondScreen h1 {
        font-size: 6vw; /* גופן גדול ומרשים אבל לא מגוחך */
        width: 100%;
        text-align: center;
        margin: 0 auto 4vh auto;
    }

    .reuven-grid {
        flex-direction: column-reverse; /* בתצוגת מובייל - תמונה מעל טקסט */
        align-items: center;
        gap: 0vh;
    }

    .reuven-pair {
        width: 90vw;
        font-size: 4.5vw;
    }

    .reuven-pair p {
        min-height: 8vh;
        font-size: 4vw;
        padding: 0 3vw;
    }

    .reuven-img {
        width: 100%;
        height: 80vw; /* גובה יחסי לרוחב המסך, מותאם למובייל */
        border-radius: 3vw;

    }

    /*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .menScreen {
        width: 100vw;
        height: auto;
        padding: 5px;
    }

    #men-gallery-text {
        font: bold 25px Arial;
        margin-top: 5%;
    }

    /*////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .womenScreen {
        width: 100vw;
        height: auto;
        padding: 5px;
    }

    #women-gallery-text {
        font: bold 25px Arial;
        margin-top: 5%;

    }

    .fourScreen {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 4vh 5vw;
        text-align: center;
    }

    .logo-1 {
        width: 40vw;
        height: 40vw;
        margin: 0 auto;
    }

    .text-container {
        margin-top: 1vh;
    }

    #text-1, #text-2 {
        font-size: 4vw;
        margin: 1vh 0;
        justify-content: center;
        text-align: center;

    }

    .logoim {
        flex-direction: row;
        justify-content: center;
        gap: 1vw;
        margin-left: 5vw;
    }

    #instagram-2 {
        width: 20vw;
        height: 15vw;
    }

    #whatsapp-2 {
        width: 15vw;
        height: 15vw;
    }

    .map-container {
        display: block;
        width: 100%;
        margin-top: 3vh;
        margin-left: 5vw;
    }

    .map-container iframe {
        width: 90%;
        height: 25vh;
        margin: 0 auto;
        display: block;
        border: none;

    }


}



