.carousel-wrapper {
    width: 85vw; /* במקום 110% */
    max-width: 85vw;
    height: 80vh;
    padding: 3vh 0;
    position: relative;
    overflow: visible;
}

.image-container {
    width: 80vw;
    height: 70vh; /* יחסית לגובה המסך */
    overflow: hidden;
    border-radius: 1.0vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0.5vh 1.2vh rgba(0, 0, 0, 0.2);
    border: 0.5vw solid white;
    box-sizing: border-box;
}

/* רקעים לתמונות */
.image-1 { background-image: url("Images/haircut-1.jpeg"); }
/*.image-2 { background-image: url("Images/haircut-2.jpeg"); }*/
.image-3 { background-image: url("Images/haircut-3.jpeg"); }
.image-4 { background-image: url("Images/haircut-4.jpeg"); }
.image-5 { background-image: url("Images/haircut-5.jpeg"); }
.image-6 { background-image: url("Images/haircut-6.jpeg"); }
.image-7 { background-image: url("Images/haircut-7.jpeg"); }

/* חצים מותאמים אישית */
.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1vw;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 1vh 1.5vw;
    border-radius: 25%;
    z-index: 2;
    cursor: pointer;
    user-select: none;
}

.custom-arrow.prev {
    left: 1vw;
}

.custom-arrow.next {
    right: 1vw;
}

/* מובייל */
@media (max-width: 768px) {
    .carousel-wrapper .slick-slide > div {
        display: flex;
        justify-content: center;
    }

    .image-container {
        max-width: 85vw;
        height: 55vh;
        margin: 0 auto;
    }

    .carousel-wrapper {
        width: 100vw; /* במקום 110% */
        max-width: 85vw;
        height: 65vh;
    }

        .custom-arrow {
        display: none !important;
    }
}


